.frame{
    text-align: center;
    margin-top: 10px;
}
.frame02{
    text-align: center;
    margin-top: 15px;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 600px;
    margin: 10px;
    text-decoration: solid black;
}
/* .footer02{
    display: flex;
    justify-content: space-between;
    margin-top: 400px;
    margin: 10px;
    text-decoration: solid black;
} */